<html>
<body style="background-color: #EAF6F6">    
    <header>
        <img style="position: right;margin-bottom: 100px;width:350;height:200" src="https://i.imgur.com/oKnLGeA.jpg">
    </header>
    <div style="display: flex;justify-content: center; text-align: justify;">
        <div style="position: relative;bottom: 20px;right: 20px;color: white;padding-left: 20px;padding-right: 20px;">
        <h2 style="color:#8B0000;">ID: <%= id1 %> </h2>
            <h3 style="color:#8B0000;">Name: <%= name1 %></h3>
            <h4 style="color:#8B0000;">GPA: <%= gpa1 %></h4>

        </div>
            <img style="position: relative;" margin-left: 45px; src=<%= pic1 %> alt="DB Image" width="230" height="220"/>
    </div>

    <div style="display: flex;justify-content: center; text-align: justify;padding-top: 20px;">
        <div style="position: relative;bottom: 20px;right: 20px;color: white;padding-left: 20px;padding-right: 20px;">
            <h2 style="color:#8B0000;">ID: <%= id2 %> </h2>
            <h3 style="color:#8B0000;">Name: <%= name2 %> </h3>
            <h4 style="color:#8B0000;"> GPA: <%= gpa2 %> </h4>
        </div>
            <img style="position: relative;" margin-left: 29px; src=<%= pic2 %> alt="DB Image" width="230" height="220"/>
    </div>

    <div style="display: flex;justify-content: center; text-align: justify;">
        <div style="position: relative;bottom: 20px;right: 20px;color: white;padding-left: 20px;padding-right: 20px;">
        <h2 style="color:#8B0000;">ID: <%= id3 %> </h2>
            <h3 style="color:#8B0000;">Name: <%= name3 %></h3>
            <h4 style="color:#8B0000;">GPA: <%= gpa3 %></h4>

        </div>
            <img style="position: relative;" margin-left: 25px; src=<%= pic3 %> alt="DB Image" width="230" height="220"/>
    </div>

    <div style="display: flex;justify-content: center; text-align: justify;">
        <div style="position: relative;bottom: 20px;right: 20px;color: white;padding-left: 20px;padding-right: 20px;">
        <h2 style="color:#8B0000;">ID: <%= id4 %> </h2>
            <h3 style="color:#8B0000;">Name: <%= name4 %></h3>
            <h4 style="color:#8B0000;">GPA: <%= gpa4 %></h4>

        </div>
            <img style="position: relative;" margin-left: 50px; src=<%= pic4 %>  alt="DB Image" width="230" height="220"/>
    </div>

    <div style="display: flex;justify-content: center; text-align: justify;">
        <div style="position: relative;bottom: 20px;right: 20px;color: white;padding-left: 20px;padding-right: 20px;">
            <h2 style="color:#8B0000;">ID: <%= id5 %> </h2>
            <h3 style="color:#8B0000;">Name: <%= name5 %></h3>
            <h4 style="color:#8B0000;">GPA: <%= gpa5 %></h4>

        </div>
            <img style="position: relative;" src=<%= pic5 %> alt="DB Image" width="230" height="220"/>
    </div>

    <div style="display: flex;justify-content: center; text-align: justify;">
        <div style="position: relative;bottom: 20px;right: 20px;color: white;padding-left: 20px;padding-right: 20px;">
            <h2 style="color:#8B0000;">ID: <%= id6 %> </h2>
            <h3 style="color:#8B0000;">Name: <%= name6 %></h3>
            <h4 style="color:#8B0000;">GPA: <%= gpa6 %></h4>

        </div>
            <img style="position: relative;" src=<%= pic6 %> alt="DB Image" width="230" height="220"/>
    </div>

    <div style="display: flex;justify-content: center; text-align: justify;">
        <div style="position: relative;bottom: 20px;right: 20px;color: white;padding-left: 20px;padding-right: 20px;">
            <h2 style="color:#8B0000;">ID: <%= id7 %> </h2>
            <h3 style="color:#8B0000;">Name: <%= name7 %></h3>
            <h4 style="color:#8B0000;">GPA: <%= gpa7 %></h4>

        </div>
            <img style="position: relative;" src=<%= pic7 %> alt="DB Image" width="180" height="220"/>
    </div>
</body>
</html>